<%- include('../globalSharedFile/head.ejs')%>

<body>
    <%- include('../globalSharedFile/navigation.ejs')%>

    <main>
        <% if (prods.length > 0){%>
        <div class="grid">
            <% for (let product of prods) { %> 
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= product.title %></h1>
                </header>
                <div class="card__image">
                    <img src="https://purepng.com/public/uploads/large/purepng.com-bookbookillustratedwrittenprintedliterature-1421526452123etpkk.png" alt="A Book">
                </div>
                <div class="card__content">
                    <h2 class="product__price">$19.99</h2>
                    <p class="product__description">A very interesting book about so many even more interesting things!</p>
                </div>
                <div class="card__actions">
                    <button class="btn">Add to Cart</button>
                </div>
            </article>
            <% } %>
        </div>
        <% } else {%>
        <h1>Sorry :) No Product Found</h1>
       <% } %>
    </main>
<%- include('../globalSharedFile/end.ejs')%>